.catalog {
  .reset-list .indent();
  display: inline-block;
  margin-top: 120px;
  padding: 0 20px;

  .intro {
    .set-fonts(400; 14px; 30px);
    color: @grey-clr;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    width: 660px;
    margin: 0 auto;
    margin-top: 350px;
  }

  .intro {
    width: 400px;
    .set-fonts(400; 18px; 30px);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    width: 1200px;
    margin-top: 350px;
  }
}
