.catalog-list {
  .reset-list .list();
  .reset-list .indent();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-list__item {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;
  padding-bottom: 26px;
  background-color: @background-light;
}

.catalog-list__image {
  display: block;
  height: 180px;
  margin-bottom: 220px;
}

.catalog-list__autor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.catalog-list__name {
  margin: 0;
  padding-left: 20px;
  .set-fonts(700; 14px; 24px);
}

.catalog-list__time {
  .set-fonts(300; 12px; 24px);
  text-transform: uppercase;
}

.catalog-list__paragraph {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 20px;
  .set-fonts(400; 14px; 24px);
}

.catalog-list__like {
  position: relative;
  margin: 0 auto;
  padding-left: 50px;
  .set-fonts(400; 14px; 24px);
  text-transform: uppercase;
  color: @pink-clr;

  &::before {
    position: absolute;
    content: "";
    top: 1px;
    left: 20px;
    width: 13px;
    height: 12px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .catalog-list__wrapper {
    margin: 0 auto;
    width: 640px;
  }

  .catalog-list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-list__item {
    width: 300px;
  }

  .photo-card {
    width: 100%;
    height: 300px;
  }

  .catalog-list__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list__wrapper {
    width: 940px;
  }

  .photo-card {
    width: 100%;
    height: 400px;
  }
}
