.catalog {
  margin: 0 auto;
  margin-top: 120px;
  display: inline-block;
}

.intro {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 40px;
  .set-fonts(400; 14px; 30px);
  color: @grey-clr;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    margin: 0 auto;
    margin-top: 350px;
    width: 660px;
  }

  .intro {
    margin: 0 auto;
    margin-bottom: 70px;
    width: 400px;
    .set-fonts(400; 18px; 30px);
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    margin-top: 350px;
    width: 1200px;
  }
}
