.contacts {

}

.contacts__title {
  .set-fonts(300; 24px; 28px);
}

.contacts__text {
  .set-fonts(700; 18px; 24,5px);
}

.contacts__link {
  color: @pink;
  .set-fonts(300; 24px; 32,68px);
}

.address {
  color: @pink;
  .set-fonts(300; 24px; 32,68px);
  font-style: normal;
}
