.contest-form {
  display: grid;
  grid-template-rows: min-content 1fr;
  margin: 0;
}

.contest-form__intro {
  .set-fonts(400; 14px; 30px);
  text-align: center;
}

@media (min-width: @tablet-width) {
  .contest-form__wrapper {
    width: 640px;
  }
}

@media (min-width: @desktop-width) {
  .contest-form__wrapper {
    width: 940px;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__personal-date {
    order: 1;
  }

  .form__apps {
    order: 2;
    background-color: transparent;
  }

  .form__contacts {
    order: 3;
  }

  .form__checkbox {
    order: 4;
    background-color: transparent;
  }

  .form__textarea {
    order: 5;
  }

  .form__button-container {
    order: 6;
  }
}
