.contacts {
  text-align: center;
  margin: auto;
  margin-top: 50px;

  .contacts__title {
    .set-fonts(300; 24px; 29px);
  }

  .contacts__content {
    padding: 0 20px;

    .contacts__item {
      margin-bottom: 30px;

      .contacts__text {
        .set-fonts(700; 18px; 25px);
        margin: 0 auto;
      }

      .contacts__link {
        color: @pink-clr;
        .set-fonts(300; 24px; 33px);
      }

      .address {
        color: @pink-clr;
        .set-fonts(300; 24px; 33px);
        font-style: normal;
      }
    }
  }

  .contacts__maps {
    width: 320px;
    height: 200px;
    position: relative;
    background-image: url("../img/map-mobile.jpg");
    background-repeat: no-repeat;
    background-color: @background-grey;
    border: none;

    &::before {
      position: absolute;
      content: "";
      width: 36px;
      height: 36px;
      background-image: url("../img/map-marker.svg");
      top: 95px;
      left: 140px;
    }
  }
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: 660px;

    .contacts__title {
      .set-fonts(300; 40px; 54px);
      margin: 0 auto;
      margin-bottom: 50px;
    }

    .contacts__content {
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .contacts__address {
        align-self: center;
        margin: auto;
      }

      .contacts__text {
        .set-fonts(700; 18px; 25px);
      }
    }

    .contacts__maps {
      width: 660px;
      height: 374px;
      position: relative;
      background-image: url("../img/map-tablet.jpg");
      background-repeat: no-repeat;
      background-color: @background-grey;
      border: none;

      &::before {
        position: absolute;
        content: "";
        width: 36px;
        height: 36px;
        background-image: url("../img/map-marker.svg");
        top: 195px;
        left: 320px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    width: 1200px;

    .contacts__title {
      .set-fonts(300; 50px; 68px);
      width: 490px;
      margin-bottom: 60px;
    }

    .contacts__content {
      margin: 0 auto;

      .contacts__item {
        margin: 0;
        margin-bottom: 20px;
      }
    }

    .contacts__maps {
      width: 1200px;
      height: 502px;
      position: relative;
      background-image: url("../img/map-desctop.jpg");
      background-repeat: no-repeat;
      background-color: @background-grey;
      border: none;

      &::before {
        position: absolute;
        content: "";
        width: 36px;
        height: 36px;
        background-image: url("../img/map-marker.svg");
        top: 260px;
        left: 580px;
      }
    }
  }
}
