.contest-form {
  display: grid;
  grid-template-rows: min-content 1fr;
  margin: 0 auto;
}

.contest-form__intro {
  .set-fonts(400; 14px; 30px);
  color: @grey-clr;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 70px;
}

@media (min-width: @tablet-width) {
  .contest-form__wrapper {
    width: 640px;
  }

  .contest-form {
    margin-top: 430px;
  }

  .contest-form__intro {
    width: 490px;
    .set-fonts(400; 18px; 30px);
    margin: auto;
    margin-bottom: 70px;
  }
}

@media (min-width: @desktop-width) {
  .contest-form__wrapper {
    width: 940px;
  }
}
