.download {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: @white;
}

.download__title {
  position: relative;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0 20px 320px 20px;
  .set-fonts(300; 24px; 29px);
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    top: 90px;
    left: -5px;
    width: 320px;
    height: 286px;
    background-image: url("../img/phone.png");
  }

  &::after {
    position: absolute;
    content: "";
    left: 100px;
    top: 122px;
    width: 111px;
    height: 197px;
    background-image: url("../img/phone-screen.png");
    background-repeat: no-repeat;
  }
}

.download__content {
  .reset-list .indent ();
  display: flex;
  flex-direction: column;
  background-color: @background-grey;
  margin-bottom: 15px;
}

.download__link {
  margin: 0 auto;
  margin-top: 25px;

  display: block;
  box-sizing: border-box;
  width: 280px;
  padding: 15px 18px;

  .set-fonts(700; 18px; 18px);
  text-align: center;
  color: @white;

  .border .bordered();
  border-color: @white;
  cursor: pointer;


  &:hover {
    color: @pink-clr;
    background-color: @white;
  }

  &:active {
    color: @pink-clr-opacity;
    background-color: @white;
  }
}

.download__list {
  .reset-list .indent();
  .reset-list .list();
  margin: 0 auto;
  display: grid;
  margin-top: 35px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  align-items: center;
  padding: 0 10px;
}

.download__list-item a {
  display: block;
  cursor: pointer;
}

.download__paragraph {
  margin-top: 10px;
  padding: 0 20px;
  .set-fonts(300; 14px; 24px);
  text-align: center;
}

.download__background {
  position: relative;
  top: -66px;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-color: @background-grey;
  background-size: 100%;
}

@media (min-width: @tablet-width) {
  .download__wrapper {
    position: relative;
    width: 660px;

    &::before {
      position: absolute;
      content: "";
      top: 185px;
      left: 1px;
      width: 660px;
      height: 545px;
      background-image: url("../img/phone-big.png");
    }

    &::after {
      position: absolute;
      content: "";
      left: 372px;
      top: 240px;
      width: 195px;
      height: 3467px;
      background-image: url("../img/phone-screen-tablet.png");
      background-repeat: no-repeat;
    }
  }

  .download__title {
    margin-left: 57px;
    margin-top: 205px;
    width: 230px;
    padding: 0;
    .set-fonts(300; 40px; 48px);

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .download__content {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    background-color: transparent;
  }

  .download__link {
    margin-top: 30px;
    margin-bottom: 45px;
    margin-left: 20px;
    width: 300px;
  }

  .download__list {
    margin: 0;
    margin-left: 55px;
    margin-bottom: 10px;
    width: 200px;
  }

  .download__paragraph {
    margin-bottom: 0;
    margin-top: 18px;
    width: 300px;
    .set-fonts(300; 18px; 24px);
  }

  @media (min-resolution: 1.5dppx) {
    .download__background {
      top: -110px;
      padding-bottom: 85px;
      background-image: url("../img/back-mobile-big@2x.jpg");
      background-size: 729px auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .download__wrapper {
    position: relative;
    width: 1200px;

    &::before {
      position: absolute;
      content: "";
      top: 205px;
      left: 145px;
      width: 1050px;
      height: 645px;
      background-image: url("../img/phone-desctop.png");
    }

    &::after {
      position: absolute;
      content: "";
      left: 715px;
      top: 267px;
      width: 230px;
      height: 408px;
      background-image: url("../img/phone-screen-desctop.png");
      background-repeat: no-repeat;
    }
  }

  .download__title {
    width: 300px;
    padding-right: 746px;
    padding-left: 70px;
    .set-fonts(300; 50px; 68px);
  }

  .download__content {
    margin-top: 9px;
    padding-left: 110px;
    box-sizing: border-box;
    width: 940px;
  }

  .download__link {
    margin-bottom: 70px;
    width: 300px;
    .set-fonts(700; 21px; 18px);
  }

  .download__list {
    margin-bottom: 20px;
  }

  .download__paragraph {
    margin-bottom: 36px;
    .set-fonts(300; 18px; 24px);
  }

  @media (min-resolution: 1.5dppx) {
    .download__background {
      background-image: url("../img/back-mobile-large@2x.jpg");
      background-size: cover;
      background-position: 50% 0;
    }
  }
}
