.download {
  color: @white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.download__background {
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-color: @background-grey;
  background-size: 100%;
  position: relative;
  top: -66px;
  z-index: -1;
}

.download__content {
  margin-top: 28px;
  background-color: @background-grey;
  display: flex;
  flex-direction: column;
  .reset-list .indent ();
}

.download__mobile {
  margin-top: 64px;
  box-sizing: border-box;
}

.download__title {
  .set-fonts(300; 24px; 29px);
  text-align: center;
  width: 280px;
  margin: auto;
  margin-top: 90px;
}

.download__link {
  .set-fonts(700; 18px; 18px);
  .border .bordered();
  border-color: @white;
  color: @white;
  padding: 21px 21px;
  width: 280px;
  text-align: center;
  box-sizing: border-box;
  display: block;
  margin: auto;
}

.download__paragraph {
  .set-fonts(300; 14px; 24px);
  text-align: center;
}

.download__list {
  .reset-list .indent();
  .reset-list .list();
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  margin-top: 38px;
}

@media (min-width: @tablet-width) {
  /*.download__wrapper {
    width: 640px;
  }*/

  .download {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  .download__link {
    width: 300px;
  }

  .download__title {
    .set-fonts(300; 40px; 48px);
    margin-top: 202px;
  }

  .download__mobile {
    margin-top: 202px;
  }

  .download__paragraph {
    .set-fonts(300; 18px; 24px);
  }

  .download__content {
    background-color: transparent;
  }

  .download__background {
    top: -150px;
    background-size: cover;
  }
}

@media (min-width: @desktop-width) {
  .download__wrapper {
    /*width: 940px;*/
  }

  .download__link {
    width: 300px;
  }

  .download__title {
    .set-fonts(300; 50px; 68px);
  }

  .download__paragraph {
    .set-fonts(300; 18px; 24px);
  }

  .download__background {
  background-image: url("../img/back-mobile-large.jpg");
  background-repeat: no-repeat;
  background-color: @background-grey;
  background-size: cover;
  position: relative;
  top: -110px;
  z-index: -1;
}
}
