.form__personal-date {
  background-color: @white;
}

.personal-date__label,
.contacts__label {
  .set-fonts(400; 14px; 30px);
  color: @pink-clr;
}

.personal-date__input--text,
.contacts__input--phone,
.contacts__input--text,
.textarea__input {
  border: 1px solid @table;
  .set-fonts(400; 18px; 30px);
  color: @grey-clr;
}

.form__legend {
  .set-fonts(400; 14px; 18px);
  color: @pink-clr;
}

.form__checkbox,
.form__apps {
  background-color: @background-light;
}

.checkbox__label,
.apps__label {
  .set-fonts(400; 18px; 30px);
  color: @grey-clr;
}

.form__button {
  .green-button();
  padding: 23px 0 23px 0;
  width: 276px;
}

.form__paragraph {
  .set-fonts(400; 14px; 30px);
  color: @grey-clr;
}
