.page-footer {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .social-list {
    .reset-list .list();
    .reset-list .indent();
    display: flex;
    justify-content: space-around;
    flex-direction: start;
    width: 200px;
    align-self: center;

    .social-list__link {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid @table;
      border-radius: 50%;
      background-color: transparent;
      width: 48px;
      height: 48px;
    }
  }

  .page-footer__copyright {
    .reset-list .indent();
    display: flex;
    align-items: center;

    .page-footer__paragraph {
      .set-fonts(400; 14px; 18px);
      margin-right: 15px;
    }
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 640px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 940px;
  }
}
