.page-header {
  background-color: @black-opacity;
  width: 100%;
}

.page-header__page-intro {
  .set-fonts(300; 24px; auto);
  color: @white;
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
}
