.popular-photo__image {
  margin-bottom: 20px;
  padding-bottom: 5px;
  display: block;
}

.popular-photo__content {
  position: relative;
  display: block;
  height: 137px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 160px;
    width: 140px;
    height: 36px;
    background-image: url("../img/photo-day.png")
  }
}

.photo-card-large {
  width: 100%;
  height: 100%;
}

.popular-photo__description {
  position: relative;
  margin: 0 auto;
  width: 280px;
  background-color: @background-light;
}

.popular-photo__autor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.popular-photo__name {
  margin: 0;
  padding-left: 20px;
  .set-fonts(700; 14px; 24px);
}

.popular-photo__time {
  .set-fonts(300; 12px; 24px);
  text-transform: uppercase;
}

.popular-photo__paragraph {
  .set-fonts(400; 14px; 24px);
  padding: 0 20px;
}

.popular-photo__like {
  .set-fonts(400; 14px; 24px);
  color: @pink-clr;
  padding-left: 48px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    top: 2px;
    left: 20px;
  }
}

@media (min-width: @tablet-width) {
  .popular-photo__image {
    width: 660px;
  }

  .popular-photo__content {
    position: relative;
    height: 509px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 160px;
      width: 140px;
      height: 36px;
      background-image: url("../img/photo-day.png")
    }
  }
}

@media (min-width: @desktop-width) {

  .popular-photo__image {
    width: 1200px;
  }
  .popular-photo__content {
    position: relative;
    height: 509px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 160px;
      width: 140px;
      height: 36px;
      background-image: url("../img/photo-day.png")
    }
  }
}
