.filter-intro {
  .set-fonts(400; 14px; 30px);
}

.post-filter__content {
  background-color: @background-light;
}

.post-button {
  .border .bordered();
  .set-fonts(700; 18px; 18px);
  color: @pink-clr;
  padding: @padding-button;
  width: 280px;
}
