.price {
  .price__table {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .price__wrapper {
    width: 660px;

    .price__slider {
      display: none;
    }

    .price__table {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .price__wrapper {
    width: 1200px;

    .price__slider {
      display: none;
    }

    .price__table {
      display: block;
    }
  }
}
