.result {
  display: none;
}

.result__link {
  color: @pink-clr;
  text-decoration: underline;
}

@media (min-width: @tablet-width) {
  .result {
    display: block;
    padding-left: 330px;
    margin-bottom: 138px;
    box-sizing: border-box;
  }

  .result__wrapper {
    width: 640px;
  }

  .result__title {
    .set-fonts(700; 30px; 36px);
    position: relative;
    margin: 0;
    margin-top: 102px;
    width: 168px;

    &::before {
      position: absolute;
      content: "";
      width: 238px;
      height: 276px;
      background-image: url("../img/time.png");
      background-repeat: no-repeat;
      left: -290px;
      top: -40px;
    }
  }

  .result__intro {
    .set-fonts(400; 14px; 24px);
    width: 310px;
  }

  .result__link {
    .set-fonts(400; 14px; 24px);
  }
}

@media (min-width: @desktop-width) {
  .result {
    display: block;
    padding-left: 370px;
    margin-bottom: 138px;
  }

  .result__wrapper {
    width: 940px;
  }

  .result__title {
    .set-fonts(700; 30px; 30px);
    width: 534px;
  }

  .result__intro {
    .set-fonts(400; 18px; 30px);
    width: 534px;
  }

  .result__link {
    .set-fonts(400; 18px; 30px);
  }
}
