.reviews {
  margin-bottom: 20px;
  background-color: @white;
}

.reviews__slider {
  position: relative;
  margin-top: 23px;
}

.reviews__item-second,
.reviews__item-third {
  display: none;
}

.reviews__item {
  margin: 0 20px;
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.reviews__description {
  .set-fonts(400; 14px; 30px);
  color: @grey-clr;
  text-align: center;
}

.reviews__author-name {
  .set-fonts(700; 18px; 30px);
  text-align: center;
  font-style: normal;
}

.reviews__about {
  display: none;
}

.reviews__buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.review__button {
  margin-right: 10px;
  width: 12px;
  height: 12px;
  background-color: @grey-opacity;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.review__button--enabled {
  margin-right: 10px;
  width: 12px;
  height: 12px;
  background-color: @grey-opacity;
  border-radius: 50%;
  border: 3px solid @grey-clr;
  padding: 3px;
}

.reviews__slider-radio {
  display: none;
}

.reviews__slider-buttons {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    width: 640px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .reviews__slider {
    margin: 0 auto;
  }

  .reviews__author-name {
    .set-fonts(700; 20px; 30px);
    text-align: center;
  }

  .reviews__description {
    .set-fonts(400; 18px; 30px);
    text-align: center;
    order: -1;
    margin-top: 13px;
    margin-bottom: 35px;
  }

  .reviews__about {
    display: block;
    .set-fonts(400; 14px; 30px);
    color: @grey-clr;
    text-align: center;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    width: 940px;
  }

  .reviews__author-name {
    .set-fonts(700; 24px; 30px);
    text-align: center;
    color: @black;
    font-style: normal;
  }

  .reviews__slider {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -85px;
      left: 430px;
      width: 79px;
      height: 63px;
      background-image: url("../img/quotes.svg");
      background-repeat: no-repeat;
    }
  }

  .reviews__description {
    padding: 0 80px;
    .set-fonts(400; 18px; 30px);
    text-align: center;
  }

  .reviews__about {
    display: block;
    .set-fonts(400; 18px; 30px);
    color: @grey-clr;
    text-align: center;
  }

  .reviews__buttons {
    display: none;
  }

  .reviews__slider-buttons {
    display: block;
  }

  .reviews__slider-label--left {
    position: absolute;
    width: 22px;
    height: 41px;
    left: 0;
    bottom: 130px;
    box-sizing: border-box;
    background-image: url("../img/left-arrow.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .reviews__slider-label--right {
    position: absolute;
    width: 22px;
    height: 41px;
    left: 900px;
    bottom: 130px;
    box-sizing: border-box;
    background-image: url("../img/right-arrow.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
