.reviews {
  background-color: @white;
  position: relative;
  margin-bottom: 168px;

  .reviews__slider {
    margin-top: 23px;

    .reviews__item:nth-child(2),
    .reviews__item:last-child {
      display: none;
    }

    .reviews__item {
      margin: 0 20px;

      .reviews__author-info {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .reviews__author-name {
          .set-fonts(700; 18px; 30px);
          color: @black;
          font-style: normal;
          text-align: center;
        }

        .reviews__description {
          .set-fonts(400; 14px; 30px);
          color: @grey-clr;
          text-align: center;
        }

        .reviews__about {
          display: none;
        }
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    width: 640px;
    margin: 0 auto;
    margin-bottom: 145px;

    .reviews__slider {
      margin: 0 auto;

      .reviews__item {
        .reviews__author-info {
          .reviews__author-name {
            .set-fonts(700; 20px; 30px);
            text-align: center;
          }

          .reviews__description {
            .set-fonts(400; 18px; 30px);
            text-align: center;
            order: -1;
            margin-top: 13px;
            margin-bottom: 35px;
          }

          .reviews__about {
            display: block;
            .set-fonts(400; 14px; 30px);
            color: @grey-clr;
            text-align: center;
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    width: 940px;
  }

  .reviews__author-name {
    .set-fonts(700; 24px; 30px);
    text-align: center;
  }

  .reviews__description {
    .set-fonts(400; 18px; 30px);
    text-align: center;
  }

  .reviews__about {
    display: block;
    .set-fonts(400; 18px; 30px);
    color: @grey-clr;
    text-align: center;
  }
}
