/*Цвета*/
@background-grey: #1D2631;
@white: #ffffff;
@black: #000000;
@black-opacity: rgba(0,0,0,0.3);
@background-light: #F2F2F2;
@table: #E5E5E5;
@grey-clr: #283645;
@pink-clr: #D22856;
@green-button: #2AAB6D;

/*main*/
@mobile-width-only: 659px;
@tablet-width: 660px;
@desktop-width: 1200px;

/*Шрифт*/


